@using WebProjekt_Beispiel.Models
@model List<Merch>
@{
    ViewData["Title"] = "Merch";
}

@if ((Model == null) || (Model.Count == 0))
{
    <p>
        Es ist momentan kein Merch vorhanden
    </p>

}
else
{
    <table>
        <thead>
            <tr>
                <td colspan="5">Shopartikel</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Artikel-ID</td>
                <td>Artikelname</td>
                <td>Erscheinungsdatum</td>
                <td>Preis</td>
                <td>Kategorie</td>
                <td>Bild</td>
            </tr>
            @foreach (Merch a in Model)
            {
                <tr>
                    <td>@a.ArticleId</td>
                    <td>@a.ArticleName</td>
                    <td>@a.ReleaseDate</td>
                    <td>@a.ArticlePrice</td>
                    <td>@a.Category</td>
                    <td><img src="@a.Image" width="100" height="100"/></td>
                    <td>
                        <form action="/shop/delete/@a.ArticleId" method="post">
                            <input type="submit" value="delete" />
                        </form>
                    </td>
                    <td>
                        <form action="/shop/update/@a.ArticleId" method="post">
                            <input type="submit" value="change" />
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>  
}

